---
import { site } from "../data/site";
---

<header class="site-header">
  <div class="container nav-wrap">
    <a href="/" class="brand">{site.name}</a>

<<<<<<< HEAD
    <nav class="nav">
=======
      {site.name}
    </a>

    <div class="row">
      <a href="/">Home</a>
>>>>>>> 3f3b903283a28d16d69381b3437fd4eb99b9fd76
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/contact">Contact</a>
      <a href="/cv.pdf" target="_blank" class="nav-pill">CV</a>
    </nav>
  </div>
</header>
